<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @company.name %>
</p>


<%= link_to 'Edit', edit_company_path(@company) %> |
<%= link_to 'Back', companies_path %>


<%= form_with(model: [ @company, @employee ]) do |form| %>
  <% if @company.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(company.errors.count, "error") %> prohibited this company from being saved:</h2>

      <ul>
      <% company.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
  	<%= form.label :first_name %>
    <%= form.text_field :first_name %>
  </div>

  <div class="field">
  	<%= form.label :last_name %>
    <%= form.text_field :last_name %>
  </div>

  <div class="field">
  	<%= form.label :email %>
    <%= form.text_field :email %>
  </div>

  <div class="field">
  	<%= form.label :area %>
    <%= form.select :area_id, Area.pluck(:name, :id) %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>


<ul style="list-style-type: none">	
	<% @company.employees.each do |employee| %>
		<li style="background-color: yellow; "> First name: <%= employee.first_name %> <%= link_to " delete", company_employee_path(@company, employee), method: :delete %> 
		</li>
		<li> last_name: <%= employee.last_name %> </li>
		<li> email: <%= employee.email %> </li>
		<li> Area: <%= employee.area_id %> </li>
		<li> Compañia: <%= employee.company_id %> </li>
		<br>
	<% end %>
</ul>