<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @company.name %>
</p>


<%= link_to 'Edit', edit_company_path(@company) %> |
<%= link_to 'Back', companies_path %>


<%= form_with(model: [ @company, @employee ]) do |form| %>
  <% if @company.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(company.errors.count, "error") %> prohibited this company from being saved:</h2>

      <ul>
      <% company.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
  	<%= form.label :first_name %>
    <%= form.text_field :first_name %>
  </div>

  <div class="field">
  	<%= form.label :last_name %>
    <%= form.text_field :last_name %>
  </div>

  <div class="field">
  	<%= form.label :email %>
    <%= form.text_field :email %>
  </div>

  <div class="field">
  	<%= form.label :area %>
    <%= form.select :area_id, Area.pluck(:name, :id) %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>


<table class="table table-dark">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">last_name</th>
          <th scope="col">Email</th>
          <th scope="col">Area</th>
        </tr>
      </thead>
      <tbody>
        <% @company.employees.each do |employee| %>
          <tr>
            <td><%= employee.first_name %></td>
            <td><%= employee.last_name %></td>
            <td><%= employee.email %></td>
            <td><%= employee.area_id %></td>
            <td><%= link_to "Destroy", company_employee_path(@company, employee), method: :delete, class:'btn btn-danger' %></td>
          </tr>
        <% end %>
      </tbody>
    </table>